// This style sheet follows a mobile first approach
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 801px;
$breakpoint-laptop: 1025px;
$breakpoint-desktop: 1281px;

* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 3rem;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  a {
    font-size: 2rem;
  }
}
h1 {
  font-size: 5rem;
}
p {
  font-size: 2.5rem;
}
footer {
  position: absolute;
  bottom: 0;
  a {
    color: black;
    font-size: 5rem !important;
    &:hover {
      color: green;
    }
  }
}